<div class="contenedor">
  <div class="semi SHS"></div>
  <div class="semi S3"></div>
  <div class="semi C1"></div>
  <div class="cuadro C2"></div>
  <div class="semi C3"></div>
  <div class="semi IVI"></div>
  <div class="cuadro I2"></div>
  <div class="semi I3"></div>
</div>
<style>
  body{
    background:#0B2429;
  }
  div {
    width: 60px;
    position: absolute;
  }
  .contenedor{
    width:240px;
    height: 240px;
    background: transparent;
    top: 30px;
    left: 80px;
  }
  .semi{
    border-radius: 50%;
  }
  .cuadro{
    height: 60px;
  }
  .semi.SHS,S3,IVI,I3 .cuadro.I2{
    background:#F3AC3C;
  }
  .semi.C1,C3 .cuadro.C2{
    background:#998235;
  }
  .semi.SHS{
    top: 1px;
    left: 1px;
    border-radius: 120px 120px 0 0;
  }
</style>

