/* No recuerdo como poner comentarios en CSS pero esto funciona */

/* Con '*' se otorgan las propiedades las propiedades enlistadas a todos
   los elementos de html */

* { 
    margin: 0; /* El margen es la distancia entre el elemento actual y el elemento
                  que lo contiene */

    padding: 0; /* El padding es la distancia entre el elemento actual y el
                   elemento que contiene */

}

/* Estas dimensiones se pueden ver gráficamente con las herramientas 
   de desarrollador del navegador */

 /* Se pueden otorgar propiedades a cualquier elemento que se haya ocupado en 
    el archivo html, por ejemplo, a los encabezados:
 */

 h1{ /* Se pueden asignar cambios a la fuente de dos maneras. La primera: */
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left; /* Elegimos la alineación a la izquierda */
}


h2{ /* La segunda: */
   font: bold 14 px sans-serif;
   text-align: left;
}

/* Así podemos asignar los estilos a varios elemento a la vez
    header, section, footer, aside, nav, article, hgroup {
    border: 1 px solid black;
    }
*/

body {
text-align: center; /* Alineación centrada del texto */
}

time p{
    color: #999; /* Elegimos el color de la fuente */
    text-align: right;
}

article{
    background-color:honeydew; /* Cambiamos el color del fondo */
    border: 1px solid #999; /* Agregamos un borde sólido de 1px de grosor y 
                                 del color que se desee */
    padding: 20px;
    margin-bottom: 15px; /* Ajustamos solamente el margen inferior */
}

article footer{
    text-align: right;
    margin-top: 20px; /* Ajustamos solamente el margen superior */
}

group p{
    text-align: left;
}

/* Ahora podemos asignar propiedades a los elementos pos su clase con 
   '.' + className */

.agrupar{
    background-color: aliceblue;
    border: 1px solid black;
    width: 980px; /* Dimensionamos el ancho del elemento */
    margin-top: 100px;
    margin:auto;
    /* padding: 100px; */
}

.agrupar header{
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 20px
}

.menu{
    background-color: #ccc;
    padding: 5px 15px;
    text-align: left;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block; /* Cambiamos la forma en la que se acomodan
                              los elementos a inline-block (horizontal) */
}

.encabezado h1{
    text-align: left;
}

.seccion{
    margin: 20px;
    width: 60%;
    /* border: 1px solid black; */
    float: left; /* Hacemos que el elemento salga de donde está contenido,
                    lo cual puede ocasionar que las dimensiones del elemento anterior
                    se vean afectadas */
    /* background-color: darkgrey; */
}

.columna{
    width: 30%;
    /* border: 1px solid black; */
    float: left;
    margin: 20px 0;
    /* background-color: cornflowerblue; */
}

.columna blockquote{
    border: 1px solid black;
    padding: 40px;
    background-color: honeydew;
    margin-bottom: 20px;
}

.pie{
    clear:both;
    padding: 20px;
    background-color:#bdc3c7;
}

img{
    width: 300px;
    margin: 20px auto;
}