/FullstackExs/part0/node_modules

/FullstackExs/part1/node_modules
/FullstackExs/part1/public

/FullstackExs/part1/courseinfo/node_modules
/FullstackExs/part1/courseinfo/public

/FullstackExs/part1/unicafe/node_modules
/FullstackExs/part1/unicafe/public

/FullstackExs/part1/anecdotes/node_modules
/FullstackExs/part1/anecdotes/public

/FullstackExs/part2/node_modules
/FullstackExs/part2/public

/FullstackExs/part2/phonebook/node_modules
/FullstackExs/part2/phonebook/public

/FinalProject/portfolio/node_modules
/FinalProject/portfolio/public